<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tạo mới học sinh</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>
    <a href="/students">Quay về danh sách học sinh</a>
</h1>
<h1>Tạo mới thông tin học sinh</h1>
<h3 style="color: red">
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
</h3>
<form th:action="@{/students/create}" th:object="${student}" method="post" style="width: 100%">
    <table style="width: 100%" class="table table-striped">
        <tr>
            <td>Tên học sinh <span style="color: red">*</span> :</td>
            <td><input type="text" th:field="*{name}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td>SĐT <span style="color: red">*</span> : </td>
            <td><input type="text" th:field="*{phoneNumber}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td>SĐT phụ huynh : </td>
            <td><input type="text" th:field="*{parentPhoneNumber}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td>Lớp <span style="color: red">*</span> : </td>
            <td><input type="text" th:field="*{classNumber}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td>Ngày đăng ký <span style="color: red">*</span> : </td>
            <td><input type="date" th:field="*{dateRegister}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td>Số tháng <span style="color: red">*</span> : </td>
            <td><input type="number" th:field="*{monthRegister}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td>Lịch học : </td>
            <td><input type="text" th:field="*{schedule}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Tạo mới học sinh"></td>
        </tr>
    </table>
</form>
</body>
</html>