<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User list</title>
    <style>
        th, td {
            text-align: center !important;
        }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div style="text-align: center">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="display: inline-block">
        <li class="nav-item">
            <a class="nav-link active" id="pills-user-tab" data-toggle="pill" href="#pills-user" role="tab"
               aria-controls="pills-home" aria-selected="true">User List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-user-true-tab" data-toggle="pill" href="#pills-True" role="tab"
               aria-controls="pills-profile" aria-selected="false">User True</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="pills-user-false-tab" data-toggle="pill" href="#pills-False" role="tab"
               aria-controls="pills-contact" aria-selected="false">User False</a>
        </li>
    </ul>
</div>
<center>
    <h1 style="color: red">
        <th:block th:if="${message}">
            <p th:text="${message}"></p>
        </th:block>
    </h1>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade" id="pills-user" role="tabpanel" aria-labelledby="pills-user-tab">
            <h1>Users</h1>
            <table border="1" class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Status</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="user : ${users}">
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td th:text="${user.status}"></td>
                        <td><a th:href="@{/user/delete/__${user.id}__ }">Delete</a></td>
                    </tr>
                </th:block>
            </table>
        </div>

        <div class="tab-pane fade" id="pills-True" role="tabpanel" aria-labelledby="pills-user-true-tab">
            <h1>Users: Status is true</h1>
            <table border="1" class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="user : ${usersTrue}">
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td><a th:href="@{/user/delete/__${user.id}__ }">Delete</a></td>
                    </tr>
                </th:block>
            </table>
        </div>

        <div class="tab-pane fade" id="pills-False" role="tabpanel" aria-labelledby="pills-user-false-tab">
            <h1>Users: Status is false</h1>
            <table border="1" class="table table-striped">
                <tr>
                    <th>Id</th>
                    <th>Delete</th>
                </tr>
                <th:block th:each="user : ${usersFalse}">
                    <tr>
                        <td th:text="${user.id}"></td>
                        <td><a th:href="@{/user/delete/__${user.id}__ }">Delete</a></td>
                    </tr>
                </th:block>
            </table>
        </div>
    </div>
</center>
</body>
</html>