<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Code Exercise</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Create Code Exercise</h1>
<h1>
    <a href="/codeExercises">Code Exercises list</a>
</h1>

<form th:action="@{/codeExercise/create}" th:object="${codeExercise}" method="post" style="width: 100%">
    <table style="width: 100%" class="table table-striped">
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}" style="width: 100%"/></td>
        </tr>
        <tr>
            <td>Content: </td>
            <td><textarea type="text" th:field="*{content}" style="width: 100%; height: 300px"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create Code Exercise"></td>
        </tr>
    </table>
</form>
</body>
</html>